---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/info-widgets/

- resources: false

- search:
    provider: {{ homepage_search_provider }}
    target: _blank
